コラボラトリーで動作します
## 準備

In [17]:
import json
json_data = {
    "book1":{
    "String_1": "Test1",
    "Number_1": 10,
    "Number_2": 240,
   },
    "book2": {
    "String_1": "Test2",
    "Number_1": 20,
    "Number_2": 480,
    }
}
with open('test.json', mode='wt', encoding='utf-8') as f:
    json.dump(json_data, f, ensure_ascii=False, indent=2)

## インポート

In [2]:
import json

## json読み込み

In [57]:
f = open('test.json', 'r')
json_dict = json.load(f)

In [58]:
json_dict

{'book1': {'Number_1': 10, 'Number_2': 240, 'String_1': 'Test1'},
 'book2': {'Number_1': 20, 'Number_2': 480, 'String_1': 'Test2'}}

## キー確認

In [59]:
print('book1' in json_dict)
print('XXX' in json_dict)

True
False

## 要素取得

In [60]:
json_dict['book1']

{'Number_1': 10, 'Number_2': 240, 'String_1': 'Test1'}

In [22]:
json_dict['book1']['Number_2']

240

## [キー]で指定して新たな値を代入できる。

In [23]:
json_dict['book1']['Number_2'] = 99999

In [24]:
json_dict

{'book1': {'Number_1': 10, 'Number_2': 99999, 'String_1': 'Test1'},
 'book2': {'Number_1': 20, 'Number_2': 480, 'String_1': 'Test2'}}

In [25]:
json_dict['book1']['Number_2']

99999

## 要素の削除

In [26]:
# 戻り値は消した値
json_dict.pop('book2')

{'Number_1': 20, 'Number_2': 480, 'String_1': 'Test2'}

In [27]:
json_dict

{'book1': {'Number_1': 10, 'Number_2': 99999, 'String_1': 'Test1'}}

## 要素の書き込み

In [34]:
json_dict['new_num'] = 123
json_dict['new_list'] = [1,2,3]
json_dict['new_string'] = 'abcdef'
json_dict['new_book'] = {'animal':'dock','health':10}

In [35]:
json_dict

{'book1': {'Number_1': 10, 'Number_2': 99999, 'String_1': 'Test1'},
 'new_book': {'animal': 'dock', 'health': 10},
 'new_list': [1, 2, 3],
 'new_num': 123,
 'new_string': 'abcdef'}

## 保存

In [36]:
with open('test_new.json', mode='wt', encoding='utf-8') as file:
    json.dump(json_dict, file, ensure_ascii=False, indent=2)

## JSONデータ作成

In [65]:
# 元データ作成
j = """{
    "id":1,
    "name":"abc",
    "book":{
        "Number":27,
        "String":"ABC"
    }
}"""
json_data = json.loads(j)

In [66]:
json_data

{'book': {'Number': 27, 'String': 'ABC'}, 'id': 1, 'name': 'abc'}